
/*  Home component*/
.main_page_outer {
    color: white;
    height: fit-content;
  }
  .main_page {
    color: white;
    height: 100vh;
    width:100%
  }
  
  .main_page .home_left {
    text-align: left;
    position: relative;
    margin-top: 0.7vw;
    margin-left: 7.4%;
    width: 50%;
  }
  
  .main_page .home_right {
    position: relative;
    width: 40%;
    left: 60%;
    bottom: 80%;
  }
  
  .main_page .home_right .home_img {
    width: 40vw;
    bottom: 100%;
  }
  
  .main_page .home_left .home_body_text_medium {
    font-size: 4vh;
    font-weight: bolder;
    width: 100%;
  }
  
  .main_page .home_left .home_body_text_title {
    font-weight: bolder;
    font-size: 8vh;
    width: 100%;
  }
  
  .main_page .home_left .home_body_text_small {
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: rgba(255, 255, 255, 0.75);
    width: 100%;
    font-size: 3vh;
  }
  .main_page .home_left .home_body_text_title .border_nft {
    position: relative;
    top: 1.5vw;
    left: 1.5vw;
  
    display: inline-block;
    border: 0.4vw solid #840487;
    width: 15vw;
    padding: 1.5vw;
    border-radius: 50%;
    font-size: 4vw;
    background: -webkit-linear-gradient(
      97.67deg,
      #2a08b3 -34.23%,
      #eb72ff 113.75%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .main_page .home_left .home_body_button {
    background-color: rgba(162, 89, 255, 1);
    color: white;
    border-color: rgba(162, 89, 255, 1);
    width: 15vw;
    height: 8vh;
    border-radius: 1.5vw;
    margin-top: 0.2vw;
    margin-bottom: 0.5vw;
    font-size: 2vh;
  }
  
  .main_page .home_left .ul_list {
    display: flex;
    list-style: none;
    flex-direction: row;
    position: relative;
    right: 1vw;
  }
  
  .main_page .home_left .ul_list .li_home_list {
    margin-right: 5vw;
  }
  
  .main_page .home_left .ul_list .li_home_list .home_body_number {
    font-size: 2vw;
    font-weight: bold;
  }
  .li_body_text{
    font-size: 1.5vw;
    width: 100%;
  }


























  
  .nft_item_box {
    position: relative;
    margin: 40px;
  }
  
  .nft_item_box .nft_item_h1 {
    font-weight: bolder;
    font-size: 4em;
  }
  
  .nft_item_box .nft_item_p {
    font-size: 1.2em;
    font-stretch: ultra-expanded;
  }
  
  .nft_item_box .nft_item_select_category{
    position: relative;
  }
  .nft_item_box .nft_item_select_category .nft_item_select_category_ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
  }
  .nft_item_box .nft_item_select_category .nft_item_select_category_ul .nft_item_select_category_li{
    margin: 30px;
    width: 150px;
  }
  .nft_item_box .nft_item_select_category .nft_item_select_category_ul .nft_item_select_category_li .nft_item_select_category_button{
    padding: 10px;
    width: 200px;
    background:  rgba(255, 255, 255, 0.1);
    border: none;
    color:white;
    border-radius: 10px;
  
  }
  #All:hover{
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    
  }
  #All:focus{
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    
  }
  #Art:hover{
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    
  }
  #Art:focus{
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    
  }
  #Gaming:hover{
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    
  }
  #Gaming:focus{
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    
  }
  .module_border_wrap {
    min-width: 100%;
    max-width: 250px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 1px;
    position: relative;
    
    border-width: 2px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-image: linear-gradient(
        138.34deg,
        rgba(224, 37, 206, 0.7) -11.36%,
        rgba(74, 237, 82, 0.7) 51.55%,
        rgba(189, 36, 230, 0.7) 113.16%
      )
      1;
  }
  
  .module_border_wrap .seperation {
    position: relative;
    height: 100px;
    background: linear-gradient(
      138.84deg,
      rgba(255, 255, 255, 0.132) -6.39%,
      rgba(143, 143, 143, 0.063) 112.17%
    );
    color: white;
    padding: 2rem;
  }
  
  .module_border_wrap .seperation .seperation_ul {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
  }
  .module_border_wrap
    .seperation
    .seperation_ul
    .seperation_li
    .seperation_li_img {
    position: relative;
    bottom: 15px;
    height: 60px;
    width: 60px;
  }
  .module_border_wrap .seperation .seperation_ul .seperation_li .seperation_li_p {
    position: relative;
    bottom: 55px;
    left: 75px;
  }
  .module_border_wrap
    .seperation
    .seperation_ul
    .seperation_li
    .seperation_li_img_last {
    position: relative;
    bottom: 15px;
    height: 60px;
    width: 60px;
    right: 100px;
  }
  
  .module_border_wrap
    .seperation
    .seperation_ul
    .seperation_li
    .seperation_li_p_last {
    position: relative;
    bottom: 55px;
    right: 10px;
  }
  
  
  .module_border_wrap .seperation .what_is_eth_{
    width: 100%;
    position: relative;
  }
  .what_is_eth_gif{
    width: 20%;
    position: relative;
    float: left;
    bottom: 40px;
  }
  .what_is_eth_gif img{
    
    height: 150px;
  }
  .what_is_eth_text{
    font-weight: bolder;
  
  }
  .what_is_eth_text .what_is_eth_text_header{
    position: relative;
    text-align: center;
    font-size: x-large;
    line-height: 20px;
  }
  .what_is_eth_text .what_is_eth_text_body{
    text-align: left;
  }
  
  
  
  
  
  .how_it_work_card_list {
    margin: 7%;
    display: flex;
    flex-direction: "row";
    justify-content: space-between;
  }
  
  .how_it_work_card_list .outer_how_it_work_card_item {
    background: linear-gradient(90deg, #8b00ae 4.71%, #0011ae 59.61%);
    padding: 2px;
    border-radius: 20px;
    width: 28%;
    height: 340px;
  }
  
  .how_it_work_card_list .outer_how_it_work_card_item .how_it_work_card_item {
    background-color: rgba(20, 17, 24, 1);
    height: 336px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition-duration: 1s;
  }
  .how_it_work_card_list .outer_how_it_work_card_item:hover {
    background: rgba(68, 148, 247, 1);
    padding: 2px;
    border-radius: 20px;
    width: 28%;
    height: 340px;
  }
  .how_it_work_card_list
    .outer_how_it_work_card_item
    .how_it_work_card_item:hover {
    background: rgba(68, 148, 247, 1);
    height: 336px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  .how_it_work_card_list
    .outer_how_it_work_card_item
    .how_it_work_card_item
    .how_it_work_img {
    padding-top: 40px;
  }
  
  .how_it_work_card_list
    .outer_how_it_work_card_item
    .how_it_work_card_item
    .how_it_work_card_step_heading {
    padding: 10px;
    font-style: "Segoe UI";
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }
  .how_it_work_card_list
    .outer_how_it_work_card_item
    .how_it_work_card_item
    .how_it_work_card_heading {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: "Segoe UI";
    color: rgba(242, 242, 242, 1);
    font-size: larger;
  }
  .how_it_work_card_list
    .outer_how_it_work_card_item
    .how_it_work_card_item
    .how_it_work_card_text {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-style: "Segoe UI";
    color: rgba(242, 242, 242, 1);
    font-size: small;
  }
  
  .login_loading_div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }