
.userProfile_outer{
    position: relative;
    width: 100%;
    height:min-content;
}
.userProfile_outer .userprofile_back_profile_image{
    position: relative;
    width: 100%;
}


.userProfile_outer .userProfile_photo{
    position: relative;
    height:20vh;
    width: 10%;
    display: flex;
    left:44%;
    bottom:50px;
}
.userProfile_outer .userProfile_photo .userProfile_photo_img {
    border-radius: 10px;
    border: 1px black solid;
    position: relative;
    height: 20vh;
    width: 100%;
    display:    block;
}
.bi-file-arrow-up{
    color:white;
    position: relative;
    font-size:  100px;
}