
.Footer {
  width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .footer-right-div {
    position: relative;
  
    text-align: left;
    width: 35%;
  }
  
  .footer-left-div {
    position: relative;
    left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2vw;
    text-align: left;
  }
  
  .footer-center-div {
    position: relative;
    text-align: left;
  }
  
  .footer-heading {
    font-size: 2vw;
    font-weight: bold;
  }
  
  .footer-text {
    font-size: 1vw;
    cursor: pointer;
  }
  .footer_input {
    position: relative;
  }
  .footer_input_tag {
    outline: none;
    padding: 1vw;
    background-color: white;
    border-radius: 1vw;
    height: 3.5vw;
    width: 17vw;
  }
  .footer_button_tag {
    color: white;
    background-color: rgba(162, 89, 255, 1);
    border-color: rgba(162, 89, 255, 1);
    border-radius: 1vw;
    height: 3.5vw;
    width: 10vw;
    position: relative;
    right: 1.5vw;
    font-size: 1vw
  }

  .icon_list {
    display: inline-block;
    height: 5vw;
    width: 5vw;
  }
  .icon_list .bi-twitter {
    border-radius: 50%;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 3.5vw;
    display: inline-flex;
    background-color: rgba(204, 204, 204, 1);
    color: black;
    transition-duration: 0.5s;
  }
  .icon_list .bi-twitter:hover {
    background-color: rgba(29, 161, 242, 1);
    color: white;
  }
  .icon_list .bi-facebook {
    border-radius: 50%;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 3.5vw;
    display: inline-flex;
    background-color: rgba(204, 204, 204, 1);
    color: black;
    transition-duration: 0.5s;
  }
  .icon_list .bi-facebook:hover {
    background-color: rgba(59, 89, 152, 1);
    color: white;
  }
  .icon_list .bi-youtube {
    border-radius: 50%;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 3.5vw;
    display: inline-flex;
    background-color: rgba(204, 204, 204, 1);
    color: black;
    transition-duration: 0.5s;
  }
  .icon_list .bi-youtube:hover {
    background-color: rgba(204, 25, 30, 1);
    color: white;
  }
  .icon_list .bi-linkedin {
    border-radius: 50%;
    font-size: 2vw;
    justify-content: center;
    align-items: center;
    width: 3.5vw;
    height: 3.5vw;
    display: inline-flex;
    background-color: rgba(204, 204, 204, 1);
    color: black;
    transition-duration: 0.5s;
  }
  .icon_list .bi-linkedin:hover {
    background-color: rgba(59, 89, 152, 1);
    color: white;
  }
  #footer-home{
    transition-duration: 0.5s;
  }
  #footer-home:hover{
    color:rgba(224, 37, 206, 1);
  }
  #footer-create{
    transition-duration: 0.5s;
  }
  #footer-create:hover{
    color:rgba(224, 37, 206, 1);
  }
  #footer-login{
    transition-duration: 0.5s;
  }
  #footer-login:hover{
    color:rgba(224, 37, 206, 1);
  }
  #footer-signup{
    transition-duration: 0.5s;
  }
  #footer-signup:hover{
    color:rgba(224, 37, 206, 1);
  }